# PostgreSQL
POSTGRES_USER=n8n
POSTGRES_PASSWORD=cambia_esta_password
POSTGRES_DB=n8n

# n8n
N8N_BASIC_AUTH_ACTIVE=true
N8N_BASIC_AUTH_USER=admin
N8N_BASIC_AUTH_PASSWORD=cambia_esta_password
N8N_HOST=localhost
N8N_PORT=5678
N8N_PROTOCOL=http
N8N_ENCRYPTION_KEY=genera_una_clave_aleatoria_de_32_chars
WEBHOOK_URL=http://localhost:5678/
