# Secrets y temporales
.env
.env.*
*.log
*.save
*.db

# Node / frontend
node_modules/
dist/

# Python
__pycache__/
*.pyc
.venv/
venv/
scraping/venv/
scraping/*.gguf

# Datos genéricos
data/
volumes/

# n8n
infra/n8n/postgres_storage/
infra/n8n/n8n/
infra/n8n/shared/*
!infra/n8n/shared/.gitkeep

# Qdrant
infra/qdrant/qdrant_storage/
!infra/qdrant/docker-compose.yaml
!infra/qdrant/.gitkeep

# Ollama
infra/Ollama/Ollama_Data/
infra/Ollama/open-webui-local/
infra/Ollama/**/cache/
infra/Ollama/**/models/
!infra/Ollama/docker-compose.yaml
!infra/Ollama/.gitkeep
