/*------------------------------------------------------------------------------
// Path:        css/common.css
// Version:     v001
// Description:	Styles that are common to the majority of pages
//----------------------------------------------------------------------------*/

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 60%;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a.header {
    font: bold 1em 'Roboto', arial;
    color: #a6b5be;
    text-decoration: none;
}

a.header:hover {
    color: #7790a0;
}

a.gotoTop {
    font: normal 0.8em/2em 'Roboto', arial;
    color: #40536e;
}

a.gotoTop-centralitas:hover {
    color: #8f2978;
}

a.gotoTop-cuadros:hover {
    color: #59493c;
}

a.gotoTop-inmovilizadores:hover {
    color: #0083a9;
}

a.gotoTop-direcciones:hover {
    color: #6c7950;
}

a.gotoTop-abs:hover {
    color: #724157;
}

a.gotoTop-airbags:hover {
    color: #5e87b8;
}

a.gotoTop-unidades:hover {
    color: #dab56a;
}

a.gotoTop-navegacion:hover {
    color: #925e3e;
}

a.gotoTop-potenciacion:hover {
    color: #1b6c7f;
}

a.gotoTop-prestamo:hover {
    color: #e9534f;
}

/*------------------------------------------------------------------------------
// Clases para dar formato al contenido
*/
.containBackground {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    -ms-behavior: url(../js/backgroundsize.min.htc);
    behavior: url(../js/backgroundsize.min.htc);
}

/*------------------------------------------------------------------------------
// Menu lateral de opciones
*/
#menu {
    z-index: 6;
    margin: 0px;
    width: 215px;
}

.menu-float-absolute {
    position: absolute;
    top: 0px;
}

.menu-float-fixed {
    position: fixed;
    top: 0px;
}

.menu-section {
    height: 50px;
    padding-left: 20px;
    border-bottom: 2px dotted #999999;
    font: bold 1.5em 'Roboto', arial;
    color: #ffffff;
    vertical-align: middle;
    text-decoration: none;
    cursor: pointer;
}

#menu-centralitas:hover {
    background-color: #79346e;
}

#menu-cuadros:hover {
    background-color: #59493c;
}

#menu-inmovilizadores:hover {
    background-color: #0083a9;
}

#menu-direcciones:hover {
    background-color: #6c7950;
}

#menu-abs:hover {
    background-color: #b08938;
}

#menu-airbags:hover {
    background-color: #5e87b8;
}

#menu-unidades:hover {
    background-color: #8d475f;
}

#menu-navegacion:hover {
    background-color: #925e3e;
}

#menu-potenciacion:hover {
    background-color: #1b6c7f;
}

#menu-prestamo:hover {
    background-color: #e9534f;
}

.menu-overlay {
    position: fixed;
    z-index: 8;
    padding-left: 5px;
    opacity: 0.9;
    display: none;
}

.menu-block {
    height: 30px;
    padding-left: 10px;
    padding-right: 20px;
    font: normal 1.4em 'Roboto', arial;
    color: #ffffff;
    vertical-align: middle;
    text-decoration: none;
    cursor: pointer;
}

.menu-block-centralitas:hover {
    background-color: #79346e;
}

.menu-block-cuadros:hover {
    background-color: #59493c;
}

.menu-block-inmovilizadores:hover {
    background-color: #0083a9;
}

.menu-block-direcciones:hover {
    background-color: #6c7950;
}

.menu-block-abs:hover {
    background-color: #b08938;
}

.menu-block-airbags:hover {
    background-color: #5e87b8;
}

.menu-block-unidades:hover {
    background-color: #8d475f;
}

.menu-block-navegacion:hover {
    background-color: #925e3e;
}

.menu-block-potenciacion:hover {
    background-color: #1b6c7f;
}

.menu-block-prestamo:hover {
    background-color: #e9534f;
}

/*------------------------------------------------------------------------------
// Menu lateral de opciones
*/
.button-form {
    display: inline-block;
    vertical-align: middle;
    background: #f7a90a;
    padding: 0px 6px 0px 6px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.4), 0 1px 3px #666;
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.4), 0 1px 3px #666;
    box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.4), 0 1px 3px #666;
}

.button-form:hover {
    background: #a6b5be;
    cursor: pointer;
}

.button-form:active {
    background: #86959e;
    -moz-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.4);
    -webkit-box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.4);
    box-shadow: inset 0px 0px 0px 1px rgba(255, 255, 255, 0.4);
}